build/
*.pyc
*.mat
*~
*.c
*.so
*.hdf
.eggs/
.idea/
.ipynb_checkpoints/
crisp.egg-info/
dist/
crisp/fastintegrate/fastint.c
.vscode/launch.json
CITATION
conda.recipe/bld.bat
conda.recipe/build.sh
conda.recipe/meta.yaml
LICENSE
MANIFEST.in
setup.cfg
data/*

examples/test_on_np.py

*.npy

3rdparty/liegroups/

matlab/test/*.m
